.companySearch {
  position: absolute;
  width: 100%;
  max-width: 380px;
  left: 0;
  right: 0;
  bottom: -20px;
  transform: translateY(100%);
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  z-index: 3;
  padding: 0.8125em;
  box-shadow: 10px 12px 80px 5px rgba(10, 29, 77, 0.12);

  input {
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    padding: 0.8125em;
    width: 100%;
  }
  hr {
    margin: 0.8125em 0 0.65625em;
    border: none;
    border-top: 1px solid #dfdfdf;
  }
  .loaderWrapper {
    display: flex;
    justify-content: center;
  }
  .loader {
    margin-left: auto;
    opacity: 0.5;
  }
  .bgLoaderWrapper {
    position: absolute;
    right: 24px;
    top: 1.625em;
    line-height: 0;
    opacity: 0.5;
  }
  .singleCompanyResult {
    display: flex;
    align-items: center;
    > div {
      margin-right: 0.75em;
    }
  }
}

@media (min-width: 767px) {
  .companySearch {
    width: 380px;
    left: -20%;
  }
}

@media (min-width: 992px) {
  .companySearch {
    left: 0;
  }
}
