.comparisonWrapper {
  background-color: #fff;
  margin-bottom: 1.3125em;

  .comparison {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 1.0625em;
    padding-bottom: 1.0625em;
    .singleCompany {
      display: flex;
      align-items: center;
      padding-bottom: 1.0625em;
      min-height: 1.625em;
      .companyLogo {
        margin-right: 0.5em !important;
        max-width: 26px;
      }
      .removeCompanyBtn {
        width: 10px;
        height: 10px;
        margin-left: 0.5em;
        path {
          fill: #66717e;
          transition: fill 250ms ease-in-out;
        }

        &:focus,
        &:hover {
          path {
            fill: var(--blue);
          }
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
    p {
      margin: 0;
      font-size: 1.5rem;
      line-height: 1.3333;
      color: #66717e;
    }
    .vs {
      color: var(--black);
      margin: 0 1.5em;
    }
    .addToCompareTrigger {
      background-color: #fff;
      color: #66717e;
      display: inline-flex;
      align-items: center;
      font-size: 1.5rem;
      line-height: 1.35;
      border: dashed 1px #66717e;
      border-radius: 6px;
      padding: 0.5333em 0.8em;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      svg {
        margin-right: 0.8em;
        path {
          transition: fill 250ms ease-in-out;
        }
      }
      &:hover,
      &:focus {
        border-color: var(--black);
        color: var(--black);
        path {
          fill: var(--black);
        }
      }
    }
    .companySearchWrapper {
      position: relative;
      width: 100%;
    }
  }
}

@media (min-width: 767px) {
  .comparisonWrapper {
    .comparison {
      flex-direction: row;
      align-items: center;
      .singleCompany {
        padding: 0;
        min-height: 2.25em;
      }
      .addToCompareTrigger {
        padding-top: 0;
        padding-bottom: 0;
        min-height: 2.4em;
      }
      .companySearchWrapper {
        width: auto;
      }
    }
  }
}
