.navigation {
  display: none;
  ul {
    margin-right: 3em;
    li {
      margin-left: 1.875em;
      button {
        color: #fff;
      }
      .link {
        color: #fff;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .navigation {
    display: flex;
    align-items: center;
    ul {
      li {
        .link {
          &:hover,
          &:focus {
            color: var(--green);
          }
        }
      }
    }
  }
}
